body {
  margin: auto;
  padding: 0px;
}
@font-face {
  font-family: neue;
  src: url(BebasNeue-Regular.ttf);
}
.headercontainer {
  display: flex;
  flex-grow: 1;
  flex-shrink:1;
  /* border: solid black 2px; */
  height: 274px;
  width: 100%;
  background-color: pink;
  align-items: center;
  justify-content: center;
}

.headerlinks {
  /* border: solid black 2px; */
  flex: 6vh;
  text-align: right;
  padding: 12px;
  margin-right: 60px;
  align-items: center;
  padding-top: 50px;
}

/* .headerlinks::after{
  content: '';
  background: #ff34;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
} */


.headeroptions{
  /* border: solid black 2px; */
  flex: 6vh;
  position: relative;
  text-align: left;
  padding: 12px;
  padding-top: 50px;
  margin-left: 60px;
  align-items: center;
  font-family: neue;
  justify-content: space-evenly;
  flex-grow:1;
}

.headeroptions li{
  /* border: solid 1px black; */
  font-size: 14px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
}
.headeroptions li::after{
  content: " ";
  background: white;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.headeroptions li:hover::after{
  width: 100%;

}
.headerlogo {
  /* border: solid black 2px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding-left: 6vh;
  padding-right: 6vh;

}

a {
  text-decoration: none;
  color: white;
}


.logoimg{
  /* border: solid black 2px; */
  align-items: center;
  justify-content: center;
  margin-right: 30%;
  padding-top: 50px;
}

div.scroll-container {
  border: solid black 2px;
  background-color: #555;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.photo {
  /* border: solid black 2px; */
  height: auto;
  width: 25%;
}

.social-icon {
  /* border: solid black 2px; */

  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
  
  justify-content: space-between;
  font-size: 26px;
}

