body {
  margin: auto;
  padding: 0px;
}
.headercontainer {
  display: flex;
  /* flex-grow: 1; */
  height: 150px;
  width: 100%;
  background-color: lightblue;
  align-items: center;
  justify-content: space-between;
}
.headerlogo {
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
  color: white;
}

.headlink {
  display: flex;
  margin-left: 15px;
  flex-grow: 2;
  flex-shrink: 2;
}

.headerlinks {
  display: flex;
  justify-content: space-evenly;
  justify-content: right;
  padding: 12px;
}

div.scroll-container {
  background-color: #555;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.photo {
  height: auto;
  width: 25%;
}

.social-icon {
  display: flex;
  align-items: center;
  padding:10px;
  justify-content: space-between;
  font-size: 22px;
}
#youtube-logo{
  margin-right: 25px;
}
